.main-hero {

    .main-hero-container {
        display: flex;
        column-gap: 73px;
        margin-top: 79px;
        position: relative;

        .mh-info {

            .mh-span {
                color: rgba(32, 31, 31, 0.20);
                font-family: "Pop-SB", sans-serif;
                font-size: 15px;
            }

            .mh-phrase {
                font-family: "Pop-SB", sans-serif;
                font-size: 75px;
                letter-spacing: -3px;
                color: #201F1F;

                .mh-highlighted {
                    color: #5C4EAE;
                }
            }

            .mh-option {
                margin-top: 16px;
                margin-bottom: 53px;
                font-size: 18px;
                width: 499px;
                color: #676767;
                text-align: justify;
                font-family: "Int-R", sans-serif;
            }

            .mh-buttons {
                display: flex;
                column-gap: 18px;
                font-family: "Int-M", sans-serif;
                font-size: 16px;
                letter-spacing: 0.163px;
                margin-bottom: 33px;

                .mh-button__primary {
                    color: #fff;
                    padding: 18px 30px;
                    background: #6C5FBC;
                    border-radius: 12.412px;
                }

                .mh-button__secondary {
                    color: #6C5FBC;
                    padding: 18px 28px;
                    border: 1.7px solid #6C5FBC;
                    border-radius: 12.412px;
                }
            }

            .mh-feedback {
                display: flex;
                align-items: center;
                column-gap: 7px;

                .mh-feedback__brand {
                    display: flex;
                    column-gap: 3px;
                    align-items: center;

                    .mh-feedback__brand-name {
                        font-family: "Int-M", sans-serif;
                        font-size: 18px;
                    }
                }

                .mh-feedback__count {
                    font-size: 16px;
                    font-family: "Jak-SB", sans-serif;
                    opacity: 0.7;
                    color: rgb(51, 65, 85);
                }
            }
        }

        .mh-photo {
            width: 603px;
            height: 540px;
            position: relative;
            display: flex;
            align-items: start;
            justify-content: end;
            color: #323142;
            font-size: 9.844px;
            margin-bottom: 120px;

            .mh-photo__dish {
                border-radius: 16.406px;
                background: #fff;
                display: flex;
                align-items: center;

                .mh-photo__dish-image {
                    margin: 4px 18px 4px 16px;
                }

                .mh-photo__dish-text {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    font-family: "Pop-M", sans-serif;
                    margin-right: 106px;

                    .mh-photo__dish-name {
                        font-family: "Pop-SB", sans-serif;
                        font-size: 15px;
                    }
                }
            }

            .mh-plate, .mh-eclipse, .mh-arrow {
                position: absolute;
            }

            .mh-plate {
                z-index: -1;
                top: 69px;
                left: 75px;
            }

            .mh-eclipse {
                z-index: -2;
                left: 102px;
                top: 58px;
            }

            .mh-arrow {
                top: 113px;
                right: 23px;
                z-index: -3;
            }
        }
    }
    
    
}



.mh-waves {
    position: absolute;
    top: 184px;
    right: 25px;
}  



.features {
    background: rgba(92, 78, 174, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    position: relative;
    margin-bottom: 120px;

    .features-content {
        display: flex;

        .features-cell {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            padding: 0 66px;

            .features-heading {
                font-family: "PS-B", sans-serif;
                color: white;
                font-size: 43.2px;
                text-align: center;
                line-height: 54px; /* 125% */
            }

            .features-info {
                font-family: "Int-M", sans-serif;
                color: #C5BFED;
                line-height: 21.6px; /* 150% */
                text-align: center;
            }
        }

        .features-cell:nth-child(-n + 2) {
            border-right: solid 1px rgba(197, 197, 197, 0.15);
        }
    }

    .features-wave {
        position: absolute;
    }

    .features-wave:nth-child(-n + 2) {
        left: 0;
    }

    .features-wave:nth-child(1n + 2) {
        right: 0;
    }
}



.app {
    margin-bottom: 100px;

    .app-container {
        padding-bottom: 120px;
        display: flex;
        column-gap: 287px;
        border-bottom: 1px solid rgba(203, 203, 203, 1);

        .app-phone {
            position: relative;
            width: 304px;
            height: 609px;
            margin-left: 111px;

            .phone-img {
                position: absolute;
                border-radius: 45px;
            }

            .screenshot-img {
                position: absolute;
                top: 15px;
                left: 17px;
                z-index: 0;
                border-radius: 30.25px;
            }

            .phone-particules {
                position: absolute;
                right: -70px;
            }
        }

        .app-info {
            padding-top: 75px;

            .app-heading {
                font-family: "Pop-B", sans-serif;
                color: var(--gray-900, #18181B);
                font-size: 50.923px;
                line-height: 58.198px; /* 114.286% */
                text-transform: capitalize;
            }

            .app-list {
                padding: 63px 0 ;
                font-family: "Int-R", sans-serif;
                color: #676767;
                width: 547.774px;
                font-size: 20.335px;
                display: flex;
                flex-direction: column;
                row-gap: 28px;
                list-style-type: disc; 
                list-style-position: inside; 
                list-style: inside;
            }

            .app-button {
                width: 186px;
                height: 63px;
                display: flex;
                border-radius: 14.675px;
                background: #6C5FBC;
                align-items: center;
                justify-content: center;
                position: relative;
                color: #FFF;
                font-size: 18.062px;
                font-family: "Pop-M", sans-serif;
                column-gap: 14px;

                .app-vector {
                    position: absolute;
                    right: -160px;
                    bottom: -55px;
                }
            }
        }
    }
}



.restaurant {

    .restaurant-container {
        display: flex;
        flex-direction: column;
        column-gap: 85px;
        align-items: center;
        row-gap: 85px;
        padding-bottom: 231px;
        border-bottom: 1px solid rgba(203, 203, 203, 1);
        margin-bottom: 100px;

        .restaurant-heading {
            font-family: "Pop-SB", sans-serif;
            font-size: 45px;
            color: #323142;
        }

        .restaurant-info {
            width: 1246px;
            display: flex;
            justify-content: space-between;

            .restaurant-cell {
                background: rgba(244, 244, 246, 1);
                box-shadow: 5.946px 71.348px 35.674px 0px rgba(229, 229, 229, 0.70);
                border-radius: 30.023px;

                .restaurant-img {
                    border-radius: 30.023px 30.023px 0px 0px;
                }

                .restraunt-cell__container {
                    margin: 0 16px 0 32px;
                    width: 335px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    padding-bottom: 18px;

                    .restraunt-status {
                        font-family: "Pop-R", sans-serif;
                        font-size: 12.776px;
                        padding: 3px 8px;
                        margin-top: 11px; 
                        font-feature-settings: 'clig' off, 'liga' off;
                        border-radius: 5.4px;
                    }

                    .healthy-status {
                        color: rgba(218, 163, 26, 1);
                        background: #F7EDD0;
                    }

                    .trending-status {
                        color: rgba(251, 71, 29, 1);
                        background: rgba(247, 197, 186, 1);
                    }

                    .restraunt-cell__name {
                        font-family: "Pop-SB", sans-serif;
                        color: rgba(50, 49, 66, 1);
                        font-size: 25.786px;
                    }

                    .restraunt-cell__info {
                        display: flex;
                        column-gap: 6.45px;
                        align-items: center;
                        font-family: "Man-R", sans-serif;
                        color: rgba(142, 151, 166, 1);
                    }
                }
            }
        }
    }
}