<header class="header">
    <div class="container header-container">
        <div class="header-info">
            <a class="" href="/index.html">
                <div class="header-link">
                    <img class="logo" src="/assets/images/Logo.svg" alt="logo">
                    <span class="name">eatly</span>
                </div>
            </a>
        </div>
        <ul class="header-links">
            <li>Menu</li>
            <li>Blog</li>
            <li>Pricing</li>
            <li>Contact</li>
        </ul>
        <div class="header-buttons">
            <button class="log-but">
                Login
            </button>
            <button class="sign-but">
                Sign Up
            </button>
        </div>
    </div>
</header>